.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 12px;
  color: var(--color-accent-white);
  transition: all .2s linear;
}

.btn:hover {
  background-color: var(--color-accent-orange);
  border-color: var(--color-accent-orange);
  color: var(--color-accent-white);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  border-width: 3px;
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-accent-white);
}

.btn-hamburger {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
}

.btn-hamburger:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-accent-orange);
}

.btn-close {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
}

.btn-close:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-accent-orange);
}

.btn-instagram {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
}

.btn-instagram:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-accent-orange);
}

.btn-github {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
}

.btn-github:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-accent-orange);
}
