.side-nav {
  height: 100vh;
  background-color: var(--color-neutral-dark);
}

.full-nav {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-neutral-dark);
}

.dark {
  background-color: var(--color-neutral-dark);
}

.half {
  width: 50%;
}

.small {
  width: 20%;
}

a:hover {
  color: var(--color-accent-orange);
}

.white {
  color: #fff;
}

.icon {
  color: var(--color-primary);
  transition: all .2s linear;
}
.icon:hover {
  color: var(--color-accent-orange);
}

label.nav-label::before {
  display: none;
}

.nav {
  display: none;
  position: absolute;
  width: 100vw;
  top: 65px;
  right: 0;
  z-index: 2;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-close {
  display: none;
  z-index: 3;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}
