.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 12px;
  color: var(--color-white);
  transition: all .2s linear;
}

.btn:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-neutral-light);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  border-width: 2px;
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-neutral-light);
}

.btn-strong {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary-dark);
}

.btn-strong:hover {
  background-color: var(--color-accent-orange);
  border-color: var(--color-accent-orange);
  color: var(--color-primary-dark);
}

.btn-circle {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.i-fixed {
  position: absolute;
  top: 5px;
  left: 5px;
}

.icon-white {
  color: #fff;
  transition: all .2s linear;
}

.icon-white:hover {
  color: var(--color-primary);
}
