<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="icon" type="images/png" href="images/favicon-196.png">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <meta name="ICBM" content="45.41117,-75.69812">
  <meta name="geo.position" content="45.41117;-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="{{page.url}}">
  <meta property="og:image" content="https://jackhuynh.ca/images/favicon.ico">
  <meta property="og:site_name" content="Jack Huynh">
  <meta property="og:description" content="{{page.description}}">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jako_ry">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:url" content="{{page.url}}">
  <meta name="twitter:description" content="{{page.description}}">
  <meta name="twitter:image" content="https://jackhuynh.ca/images/favicon.ico">
</head>
<body class="dark">

  {% pattern header/header %}
  {{content}}

</body>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Jack Huynh",
    "email": "hi@jackhuynh.ca",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "405 Landswood Way",
      "addressLocality": "Stittsville",
      "addressRegion": "Ontario",
      "addressCountry": "Canada",
      "postalCode": "K2S0A3"
    }
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": "#jako-ry",
    "name": "Jack Huynh",
    "email": "hi@jackhuynh.ca",
    "url": "https://jackhuynh.ca"
  }
</script>

</html>
